/* configuración de la tabla 1*/
.tabla1{
    margin: 200px;
    padding: auto;
    font-family: 'Helvetica',sans-serif;
}
table{
    font-size: auto;
    width: auto;
    max-width: 1200px;
    margin: 20px;
    border-collapse: collapse;
    background-color: aliceblue;
    position: relative;
}
td{
    border: 1px solid black;
    padding: auto;
}
.informacion{
    text-align: justify;
}
.titulo_tabla{
    text-align:center;
    font-weight: bold;
}
.nombre_gato{
    text-align: justify;
    margin: auto;
    width: auto;
}